.title
{
	color:red;
	background-color:black;
	text-align:center;
	font-weight:bold;
}
.list
{
	text-align:center;
	
}
.list ul li
{
	line-height:1.5;
}
body
{
	background-color:black;
}
img
{
	width:400px;
	height:auto;
	align:center;
}
