.title
{
	color:blue;
	background-color:black;
	text-align:center;
	font-weight:bold;
}
p
{
	text-align:center;
	line-height:1.5;
}
body
{
	background-color:black;
}
img
{
	width:400px;
	height:auto;
	
}
